PORT=3000

TELEGRAM_BOT_TOKEN=INSERISCI_TOKEN
TELEGRAM_CHAT_ID=INSERISCI_CHAT_ID

SCAN_INTERVAL_SECONDS=60
MIN_SCORE_ALERT=68
TRADE_AMOUNT_EUR=10
RISK_PERCENT=1

BINANCE_MODE=live
LIVE_TRADING_ENABLED=false
AUTO_BUY_LIVE=false

BINANCE_API_KEY=INSERISCI_API_KEY
BINANCE_API_SECRET=INSERISCI_API_SECRET
